@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6% 1fr 10%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Main Main Main"
      "Footer Footer Footer";
  }
  
  .Header { 
    grid-area: Header;
    margin-top: 0px;
 }
  
  .Main { grid-area: Main; }
  
  .Footer { 
    grid-area: Footer; 
    margin-bottom: 20px;
}
  
body{
    background-color: black;
}

#Blanco{
    color: blanchedalmond;
    border: 20px;
    background-color: grey;
    text-align: center;
    font-family: "Imbue", serif;
    font-size: 60px;
}
.sub{
    color: blanchedalmond;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h2{
    text-align: center;
    color: blanchedalmond;
}

.Costado a{
    color: blanchedalmond;
    border: 50px;
    text-align: right;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
}

.navbar0{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; 
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px; 
}

.Main {
    grid-area: Main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px; 
    justify-content: space-evenly;
}

.Imagen img {
    width: 460px; 
    height: 460px; 
    margin-bottom: 20px; 
    margin-left: 20px;
}

.Texto{
    color: blanchedalmond;
    margin-bottom: 10px;
    margin-left: 180px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 19px;
}

.superposicion {
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    width: 100%; 
    height: 800px; 
    margin-right: 30px;
    overflow: hidden;
}

.superposicion2 {
    margin-top: 0px;
    margin-bottom: 50px;
    position: relative;
    width: 100%; 
    height: 800px; 
    margin-right: 30px;
}

.superposicion img {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: block;
    opacity: 0.4;
    object-fit: cover;
}

.superposicion2 img {
    width: 100%;
    height: 800px;
    display: block;
}
.hidden-image{
    opacity: 0.4;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.texto-superpuesto2 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.superposicion-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px; 
}

.Imagen4 img {
    width: 165px; 
    height: 165px; 
    margin-bottom: 20px;
    margin-right: 10px;
}

.Texto4 {
    color: blanchedalmond;
    font-size: 30px; 
    text-align: center;
    width: 150px; 
}

.Texto5{
    color: blanchedalmond;
    font-size: 20px; 
    text-align: center;
    width: 150px; 
}
.Texto6{
    color: blanchedalmond;
    margin-right: 40px;
}
.navbarf{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}
.caja{
    display: flex;
}
.boton-agregar{
    margin-bottom: 20px;
    background-color: blanchedalmond;
    color: black;
    font-family: 'Poppins', sans-serif; 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 

}

.boton-agregar:hover {
    background-color: #f0e6d2; 
}

.carrito {
    background-color: blanchedalmond;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    list-style: none;
}

.producto-carrito {
    margin-bottom: 5px;
}

.boton-eliminar {
    background-color: red;
    color: white; 
    border: none; 
    padding: 5px 10px; 
    float: right; 
}

#realizar-compra {
    background-color: blanchedalmond;
    color: black;
    display: block;
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .texto-superpuesto2 {
        flex-direction: column;
        font-size: 24px;
    }
    .hidden-image{
        display: none;
    }
    .superposicion2 {
        height: 2200px;
    }
    .Costado a{
        margin-left: 20px;
    }
    .Texto6{
        margin-right: 30px;
        margin-left: 10px;
    }
    .superposicion {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .texto-superpuesto{
        font-size: 30px;
        left: 48%;

    }
    .caja{
        flex-direction: column;
    }
    .Texto{
        margin-left: 130px;
    }
    .Imagen img{
        margin-left: 0px;
        width: 100%;
    }
    .superposicion img{
        width: 100%;
    }
    .superposicion{
        margin-left: 0;
        margin-right: 0;
    }
}